@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
/* color set */
:root {
  --themeblue: #007bff;
}
/* custom selection */
::selection {
  background: rgb(0, 123, 255, 0.3);
}
.content {
  max-width: 1300px;
  margin: auto;
  padding: 0 30px;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
/* back to top button styling*/
#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  background-color: var(--themeblue);
  color: #fff;
  cursor: pointer;
  outline: none;
  border: 3px solid var(--themeblue);
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}
#back-to-top-btn:hover,
#back-to-top-btn:focus {
  background-color: #005cbe;
  border: #005cbe;
}
/* all similar content styling codes */
/*👉section {
  padding: 100px 0;
}👈*/
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.about,
.services,
.skills,
.contact,
footer {
  font-family: "Montserrat", sans-serif;
}
.about .about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  color: #111;
}
section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 2.5px;
  background: var(--themeblue);
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -9px;
  left: 50%;
  font-size: 18px;
  color: var(--themeblue);
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
  /*👉  font-weight: 600px;👈*/
}
/* Navigation */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0px;
  transition: all 0.3s ease;
}
.navbar.sticky {
  /*👉  background: #0f2c67;👈*/
  /*👉  background: #344cb7;👈*/
  /*👉  background: #143f6b;👈*/
  /*👉  background: #44679f;👈*/
  background: var(--themeblue);
  /*👉  background: #185adb;👈*/
  /*👉  background: #005792;👈*/
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}
.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list {
  display: inline-flex;
}
.menu-list li {
  list-style: none;
}
.menu-list li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover {
  /*👉  color: #007bff;
👈*/
  color: #7bbbff;
}
.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}
/* Home section starts */
.banner {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 50%,
      rgba(0, 123, 255, 0.29) 100%
    ),
    url("../img/banner.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 100px;
  font-family: "Montserrat", sans-serif;
}
/* Main left */
/*👉.main .left {
  margin-right: 20px;
}
.main .right {
  margin-left: 20px;
}👈*/
/* Home section left text */
.main-text {
  color: #fff;
  /*👉  padding-right: 80px;👈*/
  padding: 0px 40px;
}
.main-text .text-1 {
  font-size: 27px;
}
.main-text .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.main-text .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.main-text .text-3 span {
  color: var(--themeblue);
  font-weight: 500;
}
.main-text a {
  display: inline-block;
  background: var(--themeblue);
  color: #fff;
  font-size: 22px;
  padding: 12px 30px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 5px;
  border: 2px solid var(--themeblue);
  transition: all 0.3s ease;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.main-text a:hover {
  color: var(--themeblue);
  background: none;
}
/*👉Home section image👈*/
.banner .main-container {
  padding-top: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 40px;
  /*👉  column-gap: 50px;👈*/
}
.banner .main-container .main-img {
  width: 350px;
  /*👉 height: 420px;👈*/
}
/* About */
.about {
  padding: 90px 0;
}
/* about section styling */
.about .title::after {
  content: "who am i";
  text-transform: uppercase;
}
.about .about-content .left {
  width: 45%;
}
.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 10px;
}
.about .about-content .right {
  width: 55%;
}
.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}
.about .about-content .right .text span {
  color: var(--themeblue);
}
.about .about-content .right p {
  text-align: justify;
}
.about .about-content .right a {
  display: inline-block;
  background: var(--themeblue);
  color: #fff;
  font-size: 20px;
  padding: 10px 30px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 5px;
  border: 2px solid var(--themeblue);
  transition: all 0.3s ease;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.about .about-content .right a:hover {
  color: var(--themeblue);
  background: none;
}
/* Portfolio section */
.portfolio {
  padding: 70px 0;
  background-color: #272932;
  color: #fff;
}
.portfolio .title {
  color: #fff;
}
.portfolio .title::after {
  content: "my works";
  text-transform: uppercase;
  /* background-color: #232323; */
  background-color: #272932;
}
/* Portfolio Grid */
.portfolio-content {
  display: grid;
  grid-gap: 1rem;
  text-align: center;
  padding: 0px 40px;
}
.cardp {
  /*👉  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 4rem;👈*/
}
.portfolio-card .portfolio-img-box {
  /*👉 width: 350px;👈*/
  /*👉  width: 50%;👈*/
  border-radius: 10px;
  overflow: hidden;
}
.portfolio-card .portfolio-img-box img {
  width: 100%;
  height: 300px;
  /*👉  width: 70%;👈*/
  /*👉  border-radius: 15px;👈*/
  opacity: 0.6;
  transition: 0.8s;
  object-fit: cover;
  cursor: pointer;
}
.portfolio-card .portfolio-img-box:hover img {
  opacity: 1;
  transform: scale(1.1);
}
/* Skills section */
.skills {
  padding: 100px 0;
  max-width: 1300px;
}
.skills-content {
  display: flex;
  justify-content: space-between;
  /*👉  align-items: center;👈*/
  column-gap: 30px;
  padding: 0px 30px;
  margin: 0px 60px;
}
.skills .title {
  margin-bottom: 40px !important;
}
.skills .title::after {
  content: "what i know";
  text-transform: uppercase;
}
.skills-left {
  width: 100%;
}
.skills-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: 600;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}

.skills-icon {
  font-size: 2rem;
  margin-right: 1rem;
  color: var(--themeblue);
}

.skills-names {
  display: flex;
  align-items: center;
}

.skills-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--themeblue);
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: -10;
}

.skills-html {
  width: 95%;
}

.skills-css {
  width: 80%;
}

.skills-js {
  width: 65%;
}

.skills-ux {
  width: 75%;
}

/* Skills image */
.skills-img {
  border-radius: 8px;
  width: 350px;
  height: 300px;
  object-fit: cover;
  padding-bottom: 20px;
}
/* Responsive */
/* Home responsive */
@media (max-width: 695px) {
  .max-width {
    padding: 0 23px;
  }
  .banner .main-container .text-2 {
    font-size: 60px;
  }
  .banner .main-container .text-3 {
    font-size: 32px;
  }
  .banner .main-container a {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .banner .main-container .text-2 {
    font-size: 50px;
  }
  .banner .main-container .text-3 {
    font-size: 27px;
  }
  /* Main banner responsive */
  @media screen and (max-width: 868px) {
    /*👉    .banner .main-container {
      justify-content: center;
    }👈*/
  }
}
/* Contact section start */
.contact {
  padding: 80px 0;
  background-color: #272932;
  color: #fff;
}
.contact .title {
  color: #fff;
}
.contact .title::after {
  content: "get in touch";
  text-transform: uppercase;
  background-color: #272932;
}
.contact-container {
  max-width: 960px;
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  background: #333644;
  box-shadow: 0 0 1rem hsla(0 0 0 / 16%);
  border-radius: 0.5rem;
  overflow: hidden;
}
.form-container {
  padding: 20px;
}
.form-container h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
/* Form title styling */
.form-title::after {
  content: "";
  display: block;
  width: 8%;
  height: 2px;
  margin-top: 1px;
  background-color: var(--themeblue);
}
/* Form styling */
.input-box {
  height: 50px;
  width: 100%;
  margin: 16px 0;
  position: relative;
  font-weight: 500;
}
.input-box input {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  padding-left: 16px;
  background: #272932;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  color: #fff;
  font-size: 16px;
}
.input-box input:focus,
.input-box input:valid {
  border-color: var(--themeblue);
  background-color: #333644;
}
.input-box label {
  position: absolute;
  left: 18px;
  top: 50%;
  color: var(--themeblue);
  font-size: 16px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: 0;
  left: 12px;
  display: 14px;
  color: var(--themeblue);
  background: #333644;
}
/* Textarea styling */
.message-box {
  min-height: 150px;
  position: relative;
}
.message-box textarea {
  position: absolute;
  height: 100%;
  width: 100%;
  resize: none;
  background: #272932;
  border: 2px solid transparent;
  border-radius: 6px;
  outline: none;
  transition: all 0.3s ease;
  padding-left: 15px;
  padding-top: 20px;
  color: #fff;
  font-size: 16px;
}
.message-box textarea:focus {
  border-color: var(--themeblue);
  background-color: #333644;
}
.message-box label {
  position: absolute;
  font-size: 16px;
  color: var(--themeblue);
  left: 18px;
  top: 6px;
  pointer-events: none;
  transition: all 0.3s ease;
  font-weight: 500;
}
textarea:focus ~ label {
  left: 12px;
  top: -10px;
  color: var(--themeblue);
  font-size: 16px;
  background: #333644;
}
.input-box button {
  color: #fff;
  background: var(--themeblue);
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  border: none;
  height: 50px;
  border-radius: 5px;
  border: 2px solid var(--themeblue);
}
.input-box button:hover {
  background-color: transparent;
  color: var(--themeblue);
}
.content .input-box button:hover {
  background-color: var(--themeblue);
}
/*👉.contact-form {
  display: grid;
  row-gap: 1rem;

.contact-form input,
.contact-form textarea {
  width: 100%;
  border: none;
  outline: none;
  background: #272932;
  padding: 10px;
  font-size: 0.9rem;
  color: #fff;
  border-radius: 0.4rem;
}
.contact-form textarea {
  resize: none;
  height: 200px;
}
.contact-form .send-button {
  border: none;
  outline: none;
  background: #00dbde;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
.contact-form .send-button:hover {
  background: hsl(181, 100%, 44%, 0.8);
  transition: 0.3s all linear;
}👈*/
.map iframe {
  width: 100%;
  height: 100%;
}
/* Footer styling */
.footer {
  background-color: #111;
  color: #fff;
}
.footer-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1.2rem;
  padding: 30px 0;
}
/* Footer Logo styling */
.footer-logo h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.footer-logo h1::after {
  content: "";
  display: block;
  background-color: #fff;
  margin: auto;
  width: 35%;
  height: 2px;
}
/* Social styling */
.footer-container .social {
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}
.footer-container .social i {
  color: #fff;
  /*👉  padding: 10px;👈*/
  /*👉  background-color: #272932;👈*/
  background-color: #333644;
  border-radius: 50%;
  font-size: 1.1rem;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.footer-container .social i:hover {
  background-color: var(--themeblue);
}
/* Footer Links styling */
.footer-links {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.footer-links a {
  font-size: 0.9rem;
  color: #fff;
}
.footer-links a:hover {
  color: var(--themeblue);
  transition: 0.5s;
}
/* Copyright styling */
.copyright p {
  font-size: 0.8rem;
}
/* Contact */
#status {
  width: 100%;
  text-align: center;
  margin: 10px 0px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  color: #019267;
  opacity: 1;
}
#status.success {
  animation: status 3s 1;
  color: #019267;
}
#status.error {
  animation: status 3s 1;
  color: #fd5d5d;
}
@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

/* Making Responisve */
@media (max-width: 964px) {
  .contact-container {
    margin: 0 auto;
    width: 90%;
  }
}
@media (max-width: 700px) {
  .contact-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .map iframe {
    height: 400px;
  }
}

/* Navigation responsive */
@media (max-width: 1230px) {
  .content {
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content {
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content {
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled {
    overflow: hidden;
  }
  .icon {
    display: block;
  }
  .icon.hide {
    display: none;
  }
  .navbar .menu-list {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: var(--themeblue);
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list {
    left: 0%;
  }
  .navbar .menu-list li {
    margin-top: 45px;
  }
  .navbar .menu-list li a {
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a {
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a {
    font-size: 27px;
  }
}
@media (max-width: 947px) {
  .about .about-content .column {
    width: 50%;
  }
  .max-width {
    max-width: 800px;
  }
  .about .about-content .column {
    width: 50%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }
  .skills-content {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .skills-img {
    width: 100%;
  }
}
@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}
@media (max-width: 500px) {
  .about .about-content .right .text {
    font-size: 22px;
  }
  .about .about-content .right p {
    font-size: 14px;
  }
  .about .about-content .right a {
    font-size: 18px;
  }
}
@media (max-width: 420px) {
  .about .about-content .right .text {
    font-size: 20px;
  }
}
@media (max-width: 390px) {
  .about .about-content .right .text {
    font-size: 18px;
  }
  .about .about-content .right p {
    font-size: 14px;
  }
  .about .about-content .right a {
    font-size: 18px;
  }
}
@media (min-width: 725px) {
  .portfolio-content {
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 40px;
  }
  /*👉  .cardp {
    width: 100%;
  }👈*/
  /*👉  .portfolio-card .portfolio-img-box img {
    width: 100%;
  }👈*/
}
@media (min-width: 1090px) {
  .portfolio-content {
    grid-template-columns: repeat(3, 1fr);
    padding: 0px 80px;
  }
}
@media (max-width: 450px) {
  .footer-links {
    flex-direction: column;
    row-gap: 1rem;
  }
}
/* Back to top btn responsive */
@media (max-width: 992px) {
  #back-to-top-btn {
    font-size: 22px;
    width: 40px;
    height: 40px;
    bottom: 15px;
    right: 15px;
  }
}
@media (max-width: 768px) {
  #back-to-top-btn {
    font-size: 18px;
    width: 32px;
    height: 32px;
    bottom: 6px;
    right: 6px;
  }
}
/* fadeInUp */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: btnExit;
}
/* zoomOut */
/* @keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
} */

/* fadeOutDown */
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
